@{
    Layout = "_MyLayout";
}
@{
    ViewBag.Link = "Create";
}

<br />
<h1 style="color: saddlebrown; font-size: 36px; font-family: 'Arial',
sans-serif; text-align: center; text-transform: uppercase; letter-spacing: 2px;">
    Create
</h1>


<partial name="_CreatAndUpdateEmp" />