@{
    Layout = "_MyLayout";
}
@{
    ViewBag.Link = "Update";
}
<h1>
    <h1 style="color: #dba11a; font-size: 36px; font-family: 'Arial',
sans-serif; text-align: center; letter-spacing: 2px;">
         Update
    </h1>
</h1>

<partial name="_CreateAndUpdateDepen">

